@charset "UTF-8";

ul {
	margin: 0;
}

a:link {
	color: white; 
    background-color: transparent; 

}

a:visited {
    color: white;
    background-color: transparent;

}

a:hover {
    color: black;
    background-color: transparent;
}

a:active {
    color: black;
    background-color: transparent;

}

.navlink {
	padding: 0px 0px;
	display: inline-block;
}

.navlink:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

.navlink:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.navlink:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.navlink:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#navmenu {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.navitem {
	float:left;
	height: 75px;
	margin: 0;
}

li .navlink {
	text-decoration: none;
	display: block;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100px;
	margin: 0;
 	-ms-transform: translateY(-50%);
	font-size: 20px
}


#linkr {
	background-color: red;
}

#linko {
	background-color: orange;
}

#linky {
	background-color: yellow;
}

#linkg {
	background-color: green
}

#linkb {
	background-color: blue;
}

#linkp {
	background-color: purple;
}

li .navlink:hover {
	background-color: transparent;
}


body, footer {
	text-align: left;
	background-color: #2C6AAF;
	color: white;
	font-family: Cambria;
}

body {
	display: table;
}

abbr {
	text-decoration: None;
}

footer {
	bottom: 0px;
	position: absolute;
	height: 2.5rem;
	display: block;

}

#logo {
	display: block;
	margin-right: auto;
	margin-left:auto;
}
#fb {
	display: block;
	margin: 15px 15px 0px 15px;
	float: right;
	width: 340em;
	height: 400em;
	border: none;
	overflow: hidden;
}

#cal {
	border-width: 0; 
	width: 800px;
	height: 800px;
	margin 15px 15px 15px 15px;
	overflow: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
  height: 80%;
}
#content-wrap {
  padding-bottom: 5rem;    /* Footer height */
}

#profile3, #profile5, #profile6, #neena{
	width: 150px;
}
