@charset "UTF-8";

a:link {
	color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.navlink:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

.navlink:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.navlink:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.navlink:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#navmenu {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.navitem {
	float:left;
}

li .navlink {
	text-decoration: none;
	display: block;
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100px;
}


#linkr {
	background-color: red;
}

#linko {
	background-color: orange;
}

#linky {
	background-color: yellow;
}

#linkg {
	background-color: green
}

#linkb {
	background-color: blue;
}

#linkp {
	background-color: purple;
}

li .navlink:hover {
	background-color: #2C6AAF;
	border: medium black;
}


body, footer {
	text-align: left;
	background-color: #2C6AAF;
	color: white;
	font-family: Cambria;
}

abbr {
	text-decoration: None;
}

footer {
	bottom: 15px;
	position: absolute;
	height: 2.5rem;
	display: block;
}

#logo {
	display: block;
	margin-right: auto;
	margin-left:auto;
}
#fb {
	display: block;
	margin: 0px 15px 0px 15px;
	float: right;
	width: 340px;
	height: 400px;
	border: none;
	overflow: hidden;
}

#page-container {
  position: relative;
  min-height: 120vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
